{{#extends 'base'}}

    {{#block 'content'}}
        <h1>Books</h1>
        <a href="/books/create">Add New Book</a>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Published Date</th>
                    <th>Stock</th>
                    <th>Cost</th>
                    <th>Format</th>
                    <th>Genre</th>
                    <th>Publisher</th>
                    <th>Description</th>
                    <th>Tags</th>
                    <th>Cover Picture</th>
                    <th></th>
                </tr>

            </thead>
            <tbody class="">
                {{#each books}}
                    <tr class="align-middle">
                        <td>
                            {{this.id}}
                        </td>
                        <td>
                            {{this.title}}
                        </td>
                       <td>{{#each this.authors}}
                                <span class="">{{this.name}}</span>
                            {{/each}}
                        </td>
                        <td>
                            {{this.publishedDate}}
                        </td>
                        <td>
                            {{this.stock}}
                        </td>
                        <td>{{this.cost}}</td>
                        <td>{{this.formats.name}}</td>
                        <td>{{this.genres.name}}</td>
                        <td>{{this.publishers.name}}</td>
                        <td>
                            {{this.description}}
                        </td>
                        <td>{{#each this.tags}}
                                <span class="badge bg-primary">{{this.name}}</span>
                            {{/each}}
                        </td>
                        <td>
                            <img src="{{this.imageUrl}}" class="img-fluid" style="max-height: 300px" />
                        </td>
                        <td>
                            <a href="/books/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                            <a href="/books/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>

                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/block}}

{{/extends}}