{{#extends "base"}}

    {{#block "content"}}
        <div class="d-flex flex-column flex-sm-column flex-lg-row">
            <div class="p-4 border border-light filter-background  m-3 rounded">
                <h3 class="display-7 fs-4 text-center">Filter Your Search</h3>
                <hr>
                <form class="fw-bold" method="GET">
                    {{{form}}}
                    <input type="submit" class="my-4 btn btn-primary" value="Search" />
                </form>

            </div>
            <div class="">
                <h1 class="display-3 text-center my-5">Orders</h1>

                <div class="table-responsive">
                    <table class="table table-hover">

                        <thead>
                            <tr>

                                <th scope="col">ID</th>
                                <th scope="col">Customer ID</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Customer Username</th>
                                <th scope="col">Order Status</th>
                                <th scope="col">Amount Total ($)</th>
                                <th scope="col">Shipping Address</th>
                                <th scope="col">Shipping Cost</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>

                        </thead>
                        <tbody class="accordian">
                            {{#each orders}}
                                <tr class="align-middle accordion" id="{{this.id}}">
                                    <th>
                                        {{this.id}}
                                    </th>
                                    <td>{{this.customer_id}}</td>
                                    <td>{{this.createdAt}}</td>
                                    <td>{{this.customers.username}}</td>
                                    <td>{{this.orderStatuses.name}}</td>
                                    <td>${{this.amountTotal}}</td>
                                    <td>{{this.shippingAddress}}</td>
                                    <td>${{this.shippingCost}}</td>
                                    <td><button data-bs-target="#{{this.id}}t" data-bs-toggle="collapse"
                                            class="btn btn-secondary btn-sm">Details</button>
                                    </td>
                                    <td>
                                        <a href="/orders/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                                    </td>
                                    <td>
                                        <a href="/orders/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                <tr class="accordian-collapse collapse" id="{{this.id}}t" data-bs-parent="#{{this.id}}">
                                    <td scope="col" colspan="3">
                                        <div class="accordian-body table-responsive">
                                            <table class=" table table-hover m-0 table-dark">
                                                <thead>
                                                    <tr class="">
                                                        <th>Order Item ID</th>
                                                        <th>Book ID</th>
                                                        <th>Book Title</th>
                                                        <th>Price</th>
                                                        <th>Quantity</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each this.orderItems}}
                                                        <tr class="accordion">
                                                            <td>{{this.id}}</td>
                                                            <td>{{this.book_id}}</td>
                                                            <td>{{this.books.title}}</td>
                                                            <td>{{this.books.cost}}</td>
                                                            <td>{{this.quantity}}</td>
                                                        </tr>
                                                    {{/each}}
                                                </tbody>

                                            </table>

                                        </div>

                                    </td>
                                </tr>

                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {{/block}}

{{/extends}}