{{#extends 'base'}}

    {{#block 'content'}}
        <h1>Users</h1>
        <a href="users/register" class="btn btn-primary">Add User</a>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th></th>
                </tr>

            </thead>
            <tbody class="">
                {{#each users}}
                    <tr class="align-middle">
                        <td>
                            {{this.id}}
                        </td>
                        <td>{{this.username}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.roles.name}}</td>
                        <td>
                            <a href="/users/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/block}}

{{/extends}}